<div>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
<table class="table-responsive centered striped" *ngIf='products && products.length'>
  <thead>
    <tr>
      <th><a class="waves-effect waves-light btn"><i class="material-icons left"><i class="material-icons">visibility_off</i></i>cacher les images</a></th>
      <th>Produit</th>
      <th>Code</th>
      <th>Date</th>
      <th>Prix</th>
      <th>Evaluation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let product of products'>
      <td><img class="responsive-img" height="50" width="50" src="{{product.imageUrl}}" alt="image produit" /></td>
      <td>{{product.productName}}</td>
      <td>{{product.productCode}}</td>
      <td>{{product.releaseDate}}</td>
      <td>{{product.price}}</td>
      <td>{{product.starRating}}</td>
    </tr>
  </tbody>
</table>
</div>
<!--<pre>{{ products | json}}</pre>-->
<!--donne moi la version string de ma variable json-->
